.accordion {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    min-height: 700px;
    position: relative;

    &__items {

    }
}

.item {

    &__header {
        display: flex;
    }
}
