.accordion {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    min-height: 700px;
    position: relative;

    &__items {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.item {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        margin-right: 10px;
        border: 0;
        background:none;
        width: 30px;
        height: 30px;
    }
}
