.accordion {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    min-width: 432px;
    margin: 32px 32px 32px 0;

    &__items {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__header {
        color: $very-dark-desaturated-blue;
    }
}

.item {
    position: relative;
    cursor: pointer;

    &__header {
        color: $very-dark-grayish;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:hover {
            color: $soft-red;
        }

        &::after {
            content: "";
            width: 100%;
            background-color: $light-grayish;
            height: 1.5px;
            position: absolute;
            bottom: 0;
        }
    }

    &__img {
        margin-right: 20px;
        height: 8px;
    }

    p {
        display: none;
    }
}

.open {
    p {
    display: block;
    }

    img {
        transform: rotate(180deg);
    }
}
