.foto {

    background: url('/src/assets/img/illustration-woman-online-desktop.svg') no-repeat -75px, url('/src/assets/img/bg-pattern-desktop.svg') no-repeat -570px 65%;
    position: relative;

    &__woman {
        position: absolute;
        transform: rotateY(-22deg)
    }

    &__box {
        position: absolute;
        top: 192px;
        left: -90px;
    }


}
