.foto {

    background: url('/src/assets/img/illustration-woman-online-desktop.svg') no-repeat -75px, url('/src/assets/img/bg-pattern-desktop.svg') no-repeat -570px 65%;

    .container {
        position: relative;
        // overflow: hidden;
        // background: url('../images/illustration-woman-online-desktop.svg') no-repeat -75px, url('../images/bg-pattern-desktop.svg') no-repeat -570px 65%;
    }

    &__woman {
        position: absolute;
        transform: rotateY(-22deg)
    }

    &__box {
        position: absolute;
        top: 100px;
        left: 0px;
        z-index: 10;
        overflow: visible;
    }


}
