.main {
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    z-index: 3;
    border-radius: 16px;
    min-height: 494px;
    margin: 64px;
    margin-left: 76px;

    @media (max-width:1025px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }
}
