.main {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 70%;
    min-height: 70%;
    overflow: hidden;
}
