@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$background-gradient: linear-gradient(0deg, rgba(91,91,209,0.9672911400888481) 15%,
rgba(175,103,233,0.9868989832261029) 49%);

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$very-dark-grayish: hsl(237, 12%, 33%);
$dark-grayish:hsl(240, 6%, 50%);
$light-grayish: hsl(240, 5%, 91%);
$white: #fefefe;
